<div class="profile_banner">


<h1><%= @user.username %></h1>

<form action='/users/follow/<%= @user.id %>' method='post'>
  <input type='submit' value='Follow'>
</form>


</div>

<div class="tweet_section">
  <% if current_user.id == @user.id %>
    <form action='/users/<%= @user.id%>/tweets' method='post'>

      <input type='text' name='content' placeholder='Post a Tweet' id='tweet_field'>
      <input type='submit' value='Submit' style='visibility: hidden;'>

    </form>
  <% end %>

  <ul>
    <h1>Your Tweets</h1>
    <% @user_tweets.each do |tweet| %>
    <li><span class="tweet_date"><%= tweet.created_at.strftime("%B %d, %Y")%></span> - <%=tweet.content%> </li>
    <% end %>

  </ul>

  <%= erb :followers %>
  <%= erb :followings %>

</div>
