<div class="profile_banner">


<h1 id="profile_name"><%= @user.username %></h1>

<% unless current_user.id == @user.id %>
  <% if @following %>
    <form action='/users/unfollow/<%= @user.id %>' method='post' id="unfollow">
      <input type="hidden" name="_method" value="delete">
    </form>
    <button class ="btn" type="submit" form="unfollow">Unfollow</button>
  <% else  %>
    <form action='/users/follow/<%= @user.id %>' method='post' id="follow"></form>
    <button class ="btn" type="submit" form="follow">Follow</button>
  <% end %>
<% end %>

</div>

<div class="tweet_section">
<% if current_user.id == @user.id %>
  <div class="tweet_box">
  <form action='/users/<%= @user.id%>/tweets' method='post'>

    <input class="textbox" type='text' name='content' placeholder='Post a Tweet' id='tweet_field'>
    <input type='submit' value='Submit' style='visibility: hidden;'>

  </form>
  </div>
<% end %>
<table>
  <tr>

    <h1 id="profile_header">Tweets</h1>
    <% @user_tweets.each do |tweet| %>
    <td><span class="tweet_date"><%= tweet.created_at.strftime("%B %d, %Y")%></span>----</td>
      <td> <%=tweet.content%> </td>
  </tr>
    <% end %>
</table>


</div>

<div id="nav">

  <%= erb :followers %>
  <%= erb :followings %>
</div>
