<div class="profile_banner">


<h1><%= @user.username %></h1>

<% unless current_user.id == @user.id %>
  <form action='/users/follow/<%= @user.id %>' method='post' id="follow"></form>
  <button class ="btn" type="submit" form="follow">Follow</button>
<% end %>

</div>

<div class="tweet_section">

  <div class="tweet_box">
  <form action='/users/<%= @user.id%>/tweets' method='post'>

    <input class="textbox" type='text' name='content' placeholder='Post a Tweet' id='tweet_field'>
    <input type='submit' value='Submit' style='visibility: hidden;'>

  </form>
  </div>

<table>

  <% if current_user.id == @user.id %>
    <form action='/users/<%= @user.id%>/tweets' method='post'>

      <input type='text' name='content' placeholder='Post a Tweet' id='tweet_field'>
      <input type='submit' value='Submit' style='visibility: hidden;'>

    </form>
  <% end %>

  <ul>
    <h1>Your Tweets</h1>
    <% @user_tweets.each do |tweet| %>
    <li><span class="tweet_date"><%= tweet.created_at.strftime("%B %d, %Y")%></span> - <%=tweet.content%> </li>
    <% end %>

  </ul>
</table>

  <%= erb :followers %>
  <%= erb :followings %>

</div>
